# 🔑 เจ้าของระบบหลัก
MASTER_OWNER_ID=Thanva Phupingbut 244
MASTER_SECRET_KEY=MASTER-OWNER-ONLY-244

# 🛡️ ความปลอดภัย
JWT_SECRET=ตั้งรหัสผสมตัวเลขอักษรอักขระพิเศษยาวๆ32ตัว
DB_ENCRYPT_KEY=ตั้งรหัสเข้ารหัสข้อมูลยาว32ตัวพอดี

# 💳 การชำระเงิน
PROMPTPAY_NUMBER=1529900399939
KBANK_ACCOUNT=0318613826
SCB_ACCOUNT=4078670710
STRIPE_SECRET_KEY=ใส่คีย์จากStripeตอนที่ได้รับจริง

# ⚙️ การทำงาน
PORT=3000
NODE_ENV=production
DOMAIN=ใส่โดเมนของคุณที่นี่เช่น https://vider-three.vercel.app
DB_MODE=hybrid
